{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/7ac1ee141e.js" crossorigin="anonymous"></script>
  <title>HelPet - Cadastro</title>
  <link rel="stylesheet" href="{% static './cadastro/style.css' %}">
</head>
<body>
  <header class="cabecalho">
    <nav class="cabecalo-menu">
    <a class="nome" href="/">HelPet</a>
    </nav>
  </header>

  <main class="principal">
      <h1 class="texto">Cadastre-se</h1>

      <form action="/submit_cadastro" method="POST">
        {% csrf_token %}
          <label for="name"><b>Usuário</b></label>
          <div class="input">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
            <input type="text" name="name" id="name" placeholder="Usuário">
          </div>

          <label for="email"><b>E-mail</b></label>
          <div class="input">
            <i class="fa fa-envelope"></i>
            <input type="text" name="email" id="email" placeholder="E-mail">
          </div>

          <label for="password"><b>Senha</b></label>
          <div class="input">
            <i class="fa fa-lock"></i>
            <input type="password" name="password" id="password" placeholder="Senha">
          </div>

          <div class="botao" id="btn">
            <button class="continuar">Continuar</button>
          </div>
      </form>
  </main>
  
</body>
</html>